.cardContainer{
    background-color: #F8F8F8;
    color:white;
    width: 1169px;
    height:326px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    position:relative;
}

.projectImage{
margin-right: 72px;
max-width: 447px;
max-height: 295px;
width: auto;
height: auto;
position: absolute;
bottom:0;
}

.projectImage{

}