.cardContainer{
    background-color: black;
    color:white;
    width: 1169px;
    height:326px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
}

.projectImage{
margin-right: 72px;
}

.projectImage{

}